@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Teko:wght@600;700&display=swap');





#primary {
    height: 327px;
    align-items: center;
    display: flex;
    flex-direction: column;


}

#primary::before {
    background: url("../images/Main_Background.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 405px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.d1 {
    color: white;
    font-size: 40px;
    background-color: #161313a8;
    padding: 0px 31px;
    margin-top: 120px;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
}

#primary2 {
    height: 100px;
    background-color: rgb(190, 186, 180);


}

.d2 {
    text-align: center;
    padding: 25px 70px 25px 70px;
    font-size: 1.1rem;
    font-family: 'Teko', sans-serif;
}




#secondary {
    background-color: #b2aeab52;
    ;
    font-family: 'Teko', sans-serif;

}

.sec1 {
    padding: 50px;
}

.sec12 ul {
    display: flex;
    padding: 10px 10px;
    flex-direction: row;
    list-style: none;

}

.sec11 {
    margin-left: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.sec12 ul li {
    /* margin-left: 100px; */
    font-size: 1.3rem;
}

.l1 {
    margin-left: 40px;
    color: #f40808;
}

.l2 {
    margin-left: 322px;
}

.l3 {
    margin-left: 275px;
}

.ter1 {
    padding: 50px 50px;
    text-align: left;
}

.ter11 {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 23px;
}

.ter12 {
    margin-left: 53px;
    font-family: 'Teko', sans-serif;
}

#ternary {
    background-color: black;
    color: beige;
}

.dan1 {
    padding: 50px 50px;
}

.dan11 {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 23px;
}

.dan12 {
    margin-left: 53px;
    font-family: 'Teko', sans-serif;
}

#danger {
    background-color: #b2aeab52;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#location {
    font-family: 'Teko', sans-serif;
}

.lochead {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 73px;
    padding-top: 16px;
}

.loc1 ul li {
    padding: 10px 10px;
    margin: 0px 27px;
}

.loc1 ul {
    display: flex;
    list-style: none;

}

.loc1 li a {
    text-decoration: none;
    color: black;

}

.loc1 ul p {
    text-align: center;
    font-size: 1.3rem;
}

.row1 ul {
    align-items: center;
    justify-content: center;
}

.row2 ul {
    align-items: center;
    justify-content: center;
}

.row3 ul {
    align-items: center;
    justify-content: center;
}

#location {
    background-color: rgb(190 186 180);
}

.row1 {
    background-color: #b2aeab52;
}

.row3 {
    background-color: #b2aeab52;
}

.city {
    border-radius: 20px;
    width: 213px;
    transition-property: all;
    transition-duration: 0.3s;
}

.city:hover {
    width: 230px;
    color: #f40808;
}


.city:hover+#para {
    color: #f40808;
}

#para:hover {
    color: #f40808;
}

.city1:hover
{
    content: url("../images/location2.jpg");
}
.city2:hover
{
    content: url("../images/location1.jpg");
}
.city3:hover
{
    content: url("../images/location3.jpg");
}
.city4:hover
{
    content: url("../images/location4.jpg");
}
.city5:hover
{
    content: url("../images/location5.jpg");
}
.city6:hover
{
    content: url("../images/location6.jpg");
}
.city7:hover
{
    content: url("../images/location7.jpg");
}
.city8:hover
{
    content: url("../images/location8.jpg");
}
.city9:hover
{
    content: url("../images/location9.jpg");
}

.row {
    height: 425px;
}

/* #para:hover
{
    transition: color .1s linear;
    color: #f40808;
} */
#line {
    height: 5px;
    border-radius: 15px;
    width: 63%;
    margin: auto;
    background-color: #0000004d;
}

.about
{
    height: 2530px;
}