@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Teko:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 65%)), url("../images/Main_Background.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Teko', sans-serif;
}

.form-box {
  width: 345px;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 41px 15px 40px;
  text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: black;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.field {
    background-color: #eaeaea;
    margin: 5px;
    align-items: center;
    display: flex;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.field i {
    margin-right: 10px;
}

.field input{
    font-family: 'Teko', sans-serif;
    color: black;
    width: 100%;
    height: 50px;
}

input {
    background: transparent;
    outline: 0;
    border: 0;
}

form p {
  text-align: left;
  font-size: 14px;
  margin-left: 6px;
  margin-top: 10px;
}

form p a {
    text-decoration: none;
    color: black;
    margin-left: 4px;
}

.btn-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-field button {
    /* flex-basis: 48%; */
    background: #2e2e2e;
    color: #fff;
    height: 40px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.sbtn
{
  color: #3c00a0;
  cursor: pointer;
  background: antiquewhite;
    border-radius: 5px;
    padding: 0px 5px;
    border: 1px solid #ffc0c0;
}

#signin-logo{
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 20px;
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.723);
}

#signin-logo img {
    width: 70px;
    height: 70px;
    position: sticky;
}