@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Noto+Sans&display=swap');

#introsection {
    /* background-color: yellow; */
    /* position: relative; */
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'Teko', sans-serif; */
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/Main_Background.jpg") no-repeat center center;
    background-size: cover;
    
}

#introsection div.introD1 {
    /* color: white;
    font-size: 40px;
    background-color: #16131300;
    padding: 0px 31px;
    border-radius: 41px;
    font-family: 'Jost', sans-serif; */

    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 70px;
    background-color: #16131300;
    /* padding: 0px 2px; */
    /* border-radius: 41px; */
    font-family: 'Jost', sans-serif;
}

#introsection div.introD2 {
    color: white;
    font-size: 20px;
    /* background-color: #161313a8; */
    text-shadow: 5px 5px 5px black;
    padding: 0px 31px;
    border-radius: 41px;
    margin-top: 2px;
    font-family: 'Jost', sans-serif;
}


/* #introsection::before {
    position: absolute;
    content: "";
    background: url("../images/Main_Background.jpg") no-repeat center center/cover;
    height: 438px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
} */

#introsection::after {
    /* bottom: 0; */
    /* content: "";
    background: url("../images/overlay-bottom.png") bottom center no-repeat;
    height: 46px;
    width: 100%;
    background-size: cover; */

    /* bottom: 0; */
    position: absolute;
    content: "";
    background: url("../images/overlay-bottom.png") bottom center no-repeat;
    left: 0;
    bottom: 205px;
    width: 100%;
    height: 46px;
    background-size: cover;

}


#missionsection {
    width: 100%;
    height: 315px;
}

#missionbox {

    display: flex;
    /* height: 220px; */
    padding: 3px 3px;
    width: 100%;
    margin: auto;
}

#item {
       /* border: 1px solid black; */
    border-radius: 25px;
    padding: 13px 20px;
    margin: 5px 9px;
    width: 33%;
    color: black;
    /* text-shadow: 0 0 5px #ffffff; */
    background-color: #0000003d;

}

#item h3 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
}

#item p {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    margin: 10px 2px;
    text-align: center;

}

#missionsection::before {
    content: "";
    position: absolute;
    background: #ffff no-repeat center center/cover;
    height: 315px;
    width: 100%;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}


#missionsection h2 {
    color: white;
    font-family: 'Teko', sans-serif;
    background-color: #16131396;
    border-radius: 41px;
    padding: 9px;
    font-size: 22px;
    text-align: center;
    z-index: 1;
    width: 200px;
    margin: auto;
}

#sponsorsection {
    background-color: #e5dcdca8;
    height: 330px;
}

#sponsorsection h3 {

    color: black;
    font-family: 'Teko', sans-serif;
    background-color:#6d6d6d52;
    padding: 0px 31px;
    padding: 9px;
    font-size: 22px;
    text-align: center;
    z-index: 1;

}

footer {
    background-color: rgb(14, 13, 13);
    height: 40px;
}

#sponsors {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sp {
    margin: 20px 40px;
}

#end {
    color: azure;
    text-align: center;
    padding: 10px;
    font-family: 'Kanit';
}



.servicemenu {
    display: none;
}

#navbar ul li:hover .servicemenu {
    display: block;
    position: absolute;
    margin-left: -15px;
}

#navbar ul li:hover .servicemenu ul {
    display: flex;
    flex-direction: column;

}

#navbar ul li:hover .servicemenu ul li {
    border-bottom: 1px dotted gray;
    text-align: left;
}

.servicemenu {
    background-color: black;
    border-radius: 5px;
}


.why-us{
    height: 1000px;
    width: 100%;
}
.img2{
    height: 62px;
}

.img5{
margin-bottom:55px;
}

.sponsors1
{
    margin-top: 15px;
}